{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block title %}
    <title>DELETE CONFIRMATION</title>
    {% endblock %}


    {% block content %}
    <h1><center>ADD ORDER FORM</center></h1>
    <div class="container jumbotron">
        <form method="post">
            {% csrf_token %}
            <p>Do You really want to DELETE <span style="color: red;">{{data.product_name}}</span> Record??</p>
            <input type="submit" value="YES" class="btn btn-success btn-lg">
            <button class="btn btn-outline-success btn-lg"><a href="{% url 'show_url' %}">NO</a></button>
        </form>
    </div>
    {% endblock %}
